/*.MainPage_MainDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
}
.MainPage_ChatBoxDiv {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 25px;
    border: 1px solid gray;
    color: white;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-y: scroll;
    word-break: break-all;
    overflow-x: hidden;
    word-wrap: break-word;
}
.MainPage_ChatBoxInput {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0px;
    box-sizing: border-box;
}
.MainPage_OnlineBoxDiv {
position: absolute;
    width: 200px;
    left: 0px;
    top: 0px;
    height: calc(100% - 125px);
    border: 1px solid white;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
.MainPage_OnlinePlayerDiv {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border: solid 1px white;
    background-color: #353c35;
}
.MainPage_OnlinePlayerIDDiv {
    width: 100%;
    text-align: left;
    color: white;
}
.MainPage_OnlinePlayerChampionDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    text-align: right;
    color: white;
}
.MainPage_OnlinePlayerNameDiv {
    width: 100%;
    text-align: center;
    color: white;
}
.MainPage_ChampionDiv {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    box-sizing: border-box;
    top: 0px;
    height: 50px;
    border: solid 1px white;
}
.MainPage_ChampionDivLabel {
    float: left;
    margin-left: calc(50% - 140px);
    line-height: 50px;
    color: white;
    font-size: 25px;
}
.MainPage_ChampionSelect {
    float: left;
    margin-top: 10px;
    display: inline-block;
    font-size: 25px;
}
.MainPage_LobbyContainer {
    position: absolute;
    left: 200px;
    box-sizing: border-box;
    top: 50px;
    width: calc(100% - 200px);
    height: calc(100% - 50px - 125px);
<<<<<<< HEAD
}*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #785a28;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c8aa6e;
}
::-webkit-scrollbar-thumb:active {
  background: #463714;
}
::-webkit-scrollbar-track {
  background: #010a13;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #010a13;
}
::-webkit-scrollbar-track:active {
  background: #010a13;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.MainPage_MainDiv {
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

.row {
    margin: 0;
}

.MainPage_OnlineBoxDiv {
    background: #010A13;
    height: 100%;
    overflow-y: scroll;
}

.MainPage_LobbyDiv {
    height: 100%;
}

.champion-frame {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 15px;
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 2px;
}

.input-text {
    color: #f0e6d2;
    border-radius: 0;
    border-color: #785a28;
    border-width: 1px;
    border-style: solid;
    background-color: #1e2328;
}

.MainPage_LobbyContainer {
    height: calc(100% - 170px);
}

.MainPage_ChatBox {
    height: 190px;
}

.MainPage_ChatBoxDiv {
    height: 100px;
    width: 100%;
    border: 1px solid gray;
    color: white;
    background-color: rgba(1, 10, 19, 0.7);
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: scroll;
    word-break: break-all;
    overflow-x: hidden;
    word-wrap: break-word;  
}

.collection-item {
    background-color: #010A13;
}

.MainPage_ChampionDiv {
    height: 42px;
}

.MainPage_StartingGame_ExitButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: black;
}


.MainPage_BlockOverlay {
    position: absolute;
    width: calc(75% - 11px);
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 40px;
    color: white;
    height: calc(100% - 151px);
}

.MainPage_StartingGame {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: left;
    height: calc(100% - 55px);
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-y: auto;
    word-break: break-all;
    overflow-x: hidden;
    word-wrap: break-word;
}